body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f3f2f1;
}
.container {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.header {
  background-color: #0078d4;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  height: 24px;
}
.close-button {
  width: 24px;
  height: 24px;
  background: url(close.png) no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
.content {
  padding: 20px;
  text-align: center;
  margin-right: 20px;
  margin-left: 10px;
}
.content img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.email-input {
  width: 92%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}
.continue-button {
  width: 100%;
  padding: 10px;
  background-color: #0078d4;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.email-providers {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.email-providers img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}